numpy>=2.3.0
pandas>=2.3.0
plotly>=6.0.1
psycopg2-binary>=2.9.10
python-dotenv>=1.1.0
scipy>=1.15.3
sqlalchemy>=2.0.41
statsmodels>=0.14.4
streamlit>=1.46.1
xlsxwriter>=3.2.5
python-docx>=1.2.0
matplotlib>=3.10.5